/* The snackbar - position it at the bottom and in the middle of the screen */
.toast {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 8px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */

  &.show {
    visibility: visible; /* Show the snackbar */
    animation: toast_fade_in 0.5s, toast_fade_out 0.5s 2.5s;
  }

  &.positioned.show {
    animation: toast_fade_in_positioned 0.5s, toast_fade_out_positioned 0.5s 2.5s;
  }

  &.positioned {
    bottom: unset;
  }
}

@keyframes toast_fade_in {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes toast_fade_out {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes toast_fade_in_positioned {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes toast_fade_out_positioned {
  from {opacity: 1;}
  to {opacity: 0;}
}
